{% extends 'includes/base6.html' %}
{% load static %}

{% block title %}Cari Buku{% endblock %}
{% block scripts %}
<script src="{% static 'ajax.js' %}"></script>
{% endblock %}
{% block content %}
<div class="text">
    <div class="page-title">Cari Buku</div>
    <div class="container">
    <form>
        <label id="">Cari Buku</label>
        <input type="text" id="keyword">
        <input type="submit" id="search" value="Cari">
    </form>
    
    <div id="search_result"></div>
    </div>
</div>

{% endblock %}