{% extends 'includes/base6.html' %}

{% block title %}Kegiatan{% endblock %}

{% block content %}
<div class="text">
    <div class="page-title">Daftar Kegiatan</div>
<div class="row">
    {% for item in kegiatan %}
        <div class="col-sm">
            <div class="card">
                <h5>{{ item }}</h5>
                    {% for orang in peserta %}
                    {% if peserta.kegiatan == item %}
                    <p>{{ peserta }}</p>
                    {% endif %}
                    {% endfor %}
                <a class="btn btn-primary" href="{% url 'form' id=item.id %}" role="button">Tambah Peserta</a>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}