{% extends 'includes/base6.html' %}

{% block title %}Form Peserta{% endblock %}

{% block content %}
<div class="text">
    <div class="page-title">Form Partisipasi Kegiatan {{ kegiatan }}</div>
    <div class="container">
        <div class="paragraph">
            <div class="form">
               <form action="{% url 'form' id=kegiatan.id %}" method="POST">
                    {% csrf_token %}   
                    {{ form.as_p }}
                    <p><input type="submit" id="submit" value="Submit"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}