<!DOCTYPE html>
<html>
<head>
<link	rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito">

<style>

body {
  margin: 0;
  background-color: #e6ecff;
}

.photo {
  display: block;
  padding: 20px;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #002080;
}

li a {
  display: block;
  color: white;
  font-family: "Nunito";
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #3385ff;
}

h1 {
  margin-top: 20%;
}

.text {
  margin-left: 30%;
  margin-right: 5%;
  padding: 4px 16px;
  font-family:"Nunito";
  text-align: justify;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #002080;
  text-align: left;
  padding: 8px;
}

tr:nth-child(1) {
  background-color: #99b3ff;
}

</style>
</head>

<body>
 {% include "includes/navbar.html" %}

<div class="text">
  <h1>OLIVIA MONICA</h1>
  <h3>Achievements</h3>
  <table>
	<tr>
		<th>Description</th>
		<th>Time</th>
	</tr>
	<tr>
		<td>1st Place Canadian Team Mathemathic Contest - Top Team</td>
		<td>March 2019</td>
	</tr>
	<tr>
		<td>2nd Place Canadian Team Mathematic Contest - Top Individual</td>
		<td>March 2019</td>
	</tr>
	<tr>
		<td>Prolog UPH Semifinalist</td>
		<td>2016, 2017, 2018</td>
	</tr>
  </table>
</div>

</body>
</html>