<!DOCTYPE html>
<html>
<head>
<link	rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito">

<style>

body {
  margin: 0;
  background-color: #e6ecff;
}

.photo {
  display: block;
  padding: 20px;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #002080;
}

li a {
  display: block;
  color: white;
  font-family: "Nunito";
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #3385ff;
}

h1 {
  margin-top: 20%;
}

.text {
  margin-left: 30%;
  margin-right: 5%;
  padding: 4px 16px;
  font-family:"Nunito";
  text-align: justify;
}
</style>
</head>

<body>
 {% include "includes/navbar.html" %}

<div class="text">
  <h1>OLIVIA MONICA</h1>
  <h3>1906350641</h3>
  <p>Faculty of Computer Science - Year of 2019<br>
      University of Indonesia
  </p>
</div>

</body>
</html>