{% extends 'story5/includes/base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="text">
    <div class="page-title">About Me</div>
        <div class="paragraph">
          <p>I'm Olivia Monica, whom people usually call Olive. Currently, I'm a college student in University of Indonesia. The first time I learn about programming language (which was Pascal), I fell in love with it immediately. Hence, I took the road to be a programmer beyond.<br><br>
            My hobby is handicrafts and games, which I do when I have any spare time. <br>
          </p>
        </div>
</div>
{% endblock %}