{% extends 'story5/includes/base.html' %}

{% block title %}Achievements{% endblock %} 

{% block content %}
<div class="text">
    <div class="page-title">Achievements</div>
    <div class="paragraph">
      <table>
        <tr>
            <th>Description</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Canadian Team Mathematic Contest<br>
                - 1st Place Top Team<br>
                - 2nd Place Top Individual</td>
            <td>March 2019</td>
        </tr>
        <tr>
            <td>Prolog UPH Semifinalist</td>
            <td>2017, 2018</td>
        </tr>
      </table>
    </div>
</div>
{% endblock %}