{% extends 'story5/includes/base.html' %}

{% block title %}Detail Mata Kuliah{% endblock %} 

{% block content %}
<div class="text">
    <div class="page-title">Detail Mata Kuliah</div>
    <p>Nama: {{ matkul.nama }}</p>
    <p>Dosen: {{ matkul.dosen }}</p>
    <p>SKS: {{ matkul.sks }}</p>
    <p>Deskripsi: {{ matkul.deskripsi }}</p>
    <p>Semester: {{ matkul.semester }}</p>
    <p>Ruang: {{ matkul.ruang }}</p>
<form action="{% url 'detailmatkul' nama=matkul.nama %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
</div>
{% endblock %}