{% extends 'story5/includes/base.html' %}

{% block title %}Experiences{% endblock %} 

{% block content %}
<div class="text">
    <div class="page-title">Experiences</div>
    <div class="paragraph">
      <table>
        <tr>
            <th>Description</th>
            <th>Role</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Compfest 12</td>
            <td>HRD of Competitive Programming Contest Division</td>
            <td>2020</td>
        </tr>
        <tr>
            <td>BEM Fasilkom UI</td>
            <td>Deputy of Science Department</td>
            <td>2020</td>
        </tr>
        <tr>
            <td>PMB 2020</td>
            <td>Staff of Academic Division</td>
            <td>2020</td>
          </tr>
        <tr>
            <td>Wugames 2019</td>
            <td>Staff of Secretarial Division</td>
            <td>November 2019</td>
        </tr>
      </table>
    </div>
</div>
{% endblock %}