{% extends 'story5/includes/base.html' %}

{% block title %}Form Mata Kuliah{% endblock %} 

{% block content %}
<div class="text">
    <div class="page-title">Form Mata Kuliah</div>
    <div class="container">
        <div class="paragraph">
            <div class="form">
               <form action="/story5/form" method="POST">
                    {% csrf_token %}   
                    {{ form.as_p }}
                    <p><input type="submit" id="submit" value="Submit"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}