<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi"> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Olivia Monica</title>
</head>

<body>
<div class="container">
        <img class="photo" src="TH44pp.jpg" alt=Photo>
        <div class="homepage-title">OLIVIA MONICA
            <br>
            <div class="subtitle">University of Indonesia - Faculty of Computer Science</div>
        </div>
</div>
    
<div class="container">
    <div class="link">
        <div class="row">
            <div class="col"> <a href="{% url 'about' %}">About Me</a> </div>
            <div class="col"> <a href="{% url 'experience' %}">Experiences</a> </div>
            <div class="col"> <a href="{% url 'achievements' %}">Achievements</a> </div>
            <div class="col"> <a href="{% url 'projects' %}">Projects</a> </div>
        </div>
    </div>
</div>

</body>
</html>