{% extends 'story5/includes/base.html' %}

{% block title %}Daftar Mata Kuliah{% endblock %} 

{% block content %}
<div class="text">
    <div class="page-title">Daftar Mata Kuliah</div>
    {% for item in matkul %}
        <div class="matkul">
            <a href="{% url 'detailmatkul' nama=item.nama %}">{{ item.nama }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}