{% extends 'story5/includes/base.html' %}

{% block title %}Projects{% endblock %} 
{% load static %}
{% block content %}
<div class="text">
    <div class="page-title">Projects</div>
    <div class="paragraph">
      <p>Computer Science aside, I'm also interested in textile and paper engineering. Here are some of my works.</p>
        <div class="container">
    <div class="gallery">
        <div class="row">
            <img src="{% static 'p1.jpg' %}" class="col">
            <img src="{% static 'p2.JPG' %}"  class="col">
            <img src="{% static 'p3.jpeg' %}" class="col">
        </div>
    </div>
        </div>
    </div>
</div>
{% endblock %}