{% load static %}
<html>
<body>
    <ul>
      <li> <img class="photo" src="{% static 'TH44pp.jpg' %}" alt=Photo></li>
      <li> <a href="">Home</a> </li>
      <li> <a href="{% url 'about' %}">About Me</a> </li>
      <li> <a href="{% url 'experience' %}">Experiences</a> </li>
      <li> <a href="{% url 'achievements' %}">Achievements</a> </li>
      <li> <a href="{% url 'projects' %}">Projects</a> </li>
    </ul>
</body>
</html>
