<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
      
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi"> 
    <link rel="stylesheet" href="{% static 'style6.css' %}">
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
      <title>{% block title %} {% endblock %}</title>
	  {% block scripts %} {% endblock %}
  </head>
  <body>
    {% block content %}
    <!--Isi Page-->
    {% endblock %}
  </body>
</html>