<!DOCTYPE html>

{% include "includes/base.html" %}
<html>
<head>
<link	rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito">

<style>

body {
  margin: 0;
  background-color: #e6ecff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #002080;
}

li a {
  display: block;
  color: white;
  font-family: "Nunito";
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #3385ff;
}

h1 {
  margin-top: 20%;
}

.text {
  margin-left: 30%;
  margin-right: 5%;
  padding: 4px 16px;
  font-family:"Nunito";
  text-align: justify;
}

.photo {
  display: block;
  padding: 20px;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.icon {
  display: inline-block;
  padding: 4px;
  width: 40px;
  height: 40px;
}

</style>
</head>

<body>


<div class="text">
  <h1>OLIVIA MONICA</h1>
  <h3>Contact</h3>
  <p>
    <table>
        <tr>
            <th><img class="icon" src="https://files.catbox.moe/67y6i6.png" alt=Gmail></th>
            <th>oliviamonica.sh@gmail.com</th>
        </tr>
        <tr>
            <th><img class="icon" src="https://files.catbox.moe/dayxu4.png" alt=WhatsApp></th>
            <th>+6281317497249</th>
        </tr>
        <tr>
            <th><img class="icon" src="https://files.catbox.moe/gtvp1i.png" alt=Facebook></th>
            <th>facebook.com/originica</th>
        </tr>
        <tr>
            <th><img class="icon" src="https://files.catbox.moe/1a3fld.png" alt=LINE></th>
            <th>originica</th>
        </tr>
        <tr>
            <th><img class="icon" src="https://files.catbox.moe/xzrw4r.png" alt=Instagram></th>
            <th>originica</th>
        </tr>
    </table>
  </p>

</body>
</html>